# This file defines the owners of paths in this repository.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-codeowners

# Default owner for everything
* @anishs1207